<?xml version="1.0" encoding="UTF-8"?>
<Policy PolicyId="root-policy" RuleCombiningAlgId="urn:oasis:names:tc:xacml:1.0:rule-combining-algorithm:permit-overrides">
	<Description>The global root policy</Description>
	<Target>
		<Subjects>
			<AnySubject/>
		</Subjects>
		<Resources>
			<AnyResource/>
		</Resources>
		<Actions>
			<AnyAction/>
		</Actions>
	</Target>
	<Rule RuleId="AllowAllForRoot" Effect="Permit">
		<Target>
			<Subjects>
				<Subject>
					<SubjectMatch MatchId="urn:oasis:names:tc:xacml:1.0:function:string-equal">
						<AttributeValue DataType="http://www.w3.org/2001/XMLSchema#string">/profiles/root</AttributeValue>
						<SubjectAttributeDesignator AttributeId="urn:oasis:names:tc:xacml:1.0:subject:subject-id" DataType="http://www.w3.org/2001/XMLSchema#string"/>
					</SubjectMatch>
				</Subject>
			</Subjects>
			<Resources>
				<AnyResource/>
			</Resources>
			<Actions>
				<AnyAction/>
			</Actions>
      	</Target>
	</Rule>
	<Rule RuleId="DenyAllOthers" Effect="Deny"/>
</Policy>