

// las que vienen del layout

/*html, body {
        font:normal 12px verdana;
        margin:0;
        padding:0;
        border:0 none;
        overflow:hidden;
        height:100%;
    }*/

	#roster {
	    background-color:#c3daf9;
	}
	#roster, #Welcome {
	    padding:0px;
	}
	#Welcome p {
	    margin:5px;
	}
	#roster li {
	    padding:2px;
	    padding-left:10px;
	    background-image:url(images/bullet.gif);
	    background-position: -3px 6px;
	    background-repeat: no-repeat;
	    font-size:8pt;
	    display: block;
    }
    .x-layout-panel{
        border:0px none;
    }
    .errorMessage{
    	color:red;
    	font-size:14pt
    } 
   } 
 